h1 {
	text-align: center;
	color: red;
	font-family: times;
	font-size: 24px;
}

div p.p1 {
	color:red;
	background-color: gray;
}

p.p1 {
	color:blue;
	background-color: lime;
}

#lst1 {
	font-size: 120%;
	font-style: italic;
}
